################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TriviaNation/.vs/TriviaNation/v15/Server/sqlite3
/TriviaNation/packages
/TriviaNation/TriviaNationTests/bin/Debug
