<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>

  <connectionStrings>
    <add name="trivia.db" connectionString="trivianation.database.windows.net;Initial Catalog=TriviaNation;Persist Security Info=True;UserID=trivianationadmin;Password=SoftwareEngineering2"/>
  </connectionStrings>
</configuration>
